Possible bug with quoted-printable line endings

1. What kind of issue are you reporting?
A bug in Nodemailer--maybe!

2. Are you listed as a sponsor of Nodemailer project?
No.

3. State your problem here:

I'm wondering if there's a bug in the wrap() function of nodemailer's quoted-printable encoding related to line endings. It looks like there are some cases where the wrap function does not insert a soft line break (the three byte sequence `=\r\n`) if a long line contains a `\n` character. I'm not super familiar with quoted-printable and I can't tell whether this behavior is technically allowed by the spec--I'm hoping those of you who are more familiar can help determine if this is a bug or not.

Here's an example of what I'm seeing:
```javascript
> const qp = require('nodemailer/lib/qp');
> qp.wrap('ABCDEF\nGHIJKLMN', 10)
'ABCDEF\nGHIJKLMN'
```
The test string is more than 10 characters and yet the `wrap()` function does not insert `=\r\n` due to the presence of `\n`. (Side note: Normally the `encode()` function would have been called first, of course, but I believe the encode function does not alter this test string--it leaves the `\n` character as a `\n` character.)

I would have expected one of these values, instead:
```javascript
'ABCDEF\nGHI\r\nJKLMN'
// Or possibly encode() should be changed to convert \n to =0A, in which case I think we would expect:
'ABCDEF=0AG\r\nHIJKLMN'
```

In looking at the source of the `wrap()` function it looks like this behavior is intentional, but it's not clear to me why. It looks like the "truncate to nearest line break" block is copying everything up to the letter `I` without modification, and then the remainder of the string is appended without modification because it is less than 10 characters. I don't understand the intent of the `lineMargin` checks.

So I guess my question is: Is this valid? I believe RFC 2045 is the relevant spec. [Section 6.7](https://tools.ietf.org/html/rfc2045#section-6.7) says:
```
(5)   (Soft Line Breaks) The Quoted-Printable encoding
          REQUIRES that encoded lines be no more than 76
          characters long.  If longer lines are to be encoded
          with the Quoted-Printable encoding, "soft" line breaks
          must be used.  An equal sign as the last character on a
          encoded line indicates such a non-significant ("soft")
          line break in the encoded text.

   Thus if the "raw" form of the line is a single unencoded line that
   says:

     Now's the time for all folk to come to the aid of their country.

   This can be represented, in the Quoted-Printable encoding, as:

     Now's the time =
     for all folk to come=
      to the aid of their country.

   This provides a mechanism with which long lines are encoded in such a
   way as to be restored by the user agent.  The 76 character limit does
   not count the trailing CRLF, but counts all other characters,
   including any equal signs.
```

And [section 2.10](https://tools.ietf.org/html/rfc2045#section-2.10) says:
```
2.10.  Lines

   "Lines" are defined as sequences of octets separated by a CRLF
   sequences.  This is consistent with both RFC 821 and RFC 822.
   "Lines" only refers to a unit of data in a message, which may or may
   not correspond to something that is actually displayed by a user
   agent.
```

The two mentions of CRLF make it sound as though CRLF is the only valid sequence to indicate a line wrap, and so it _seems_ as though nodemailer's quoted-printable line wrapping does not conform to the spec. But I'm new to all of this! It's very possible that I'm wrong. I'd love to hear other people's thoughts on it.

Some semi-irrelevant background about how I discovered this: Microsoft Exchange's IMAP server chokes if a client uses the APPEND command and attempts to append an email with a body containing any single line longer than 10240 characters (where a "line" is a sequence of characters without a CRLF). I believe the server is within their right to reject an email body with a line longer than 76 characters of course, though the way it does it seems buggy in its own right: The server does not send a response to the APPEND command. Instead it appears to treat the long line as a new IMAP command (to which it normally responds with "BAD Command Error. 10", though perhaps it wouldn't return an error if the line in question was a valid IMAP command).

This is intentional, Nodemailer treats newline symbol as an existing line break. In the SMTP step all line breaks are normalised to `\r\n` so your string would become to `'ABCDEF\r\nGHIJKLMN'`. You are not talking about SMTP but IMAP though, how does that happen?

> In the SMTP step all line breaks are normalised to \r\n so your string would become to 'ABCDEF\r\nGHIJKLMN'.

Ahhh, interesting! Is that what's happening here:?

https://github.com/nodemailer/nodemailer/blob/fcb0d1f5918a89ca5e8ab880134fec07c4e92bc7/lib/smtp-connection/data-stream.js#L55-L68

> You are not talking about SMTP but IMAP though, how does that happen?

Yeah, in my case we're doing something which may not be very common. At the company I work for we handle a large volume of incoming email. We've written software that does some pre-processing of incoming email to attempt to ease the burden on the human who responds to the email. After processing, the software uses the IMAP APPEND command (described in [RFC 3501 section 6.3.11](https://tools.ietf.org/html/rfc3501#section-6.3.11)) to insert it into a mailbox. 

And we're utilizing nodemailer/lib/mail-composer to format the message. Basically:
```typescript
const emailMessage = new MailComposer(params).compile().build()
```
And then appending that message using an IMAP library.

It sounds like we could possibly do the same string replacement to convert \n to \r\n. Or I assume we could specify contentTransferEncoding base64 and that would also solve our problem.

So I think I have a solution for my problem. It's of course up to you whether you think any changes should be made to Nodemailer. It's still not entirely clear to me if the quoted-printable specs mandates \r\n or if that's a transport-layer (SMTP or IMAP) requirement. And even if the quoted-printable spec _does_ mandate \r\n, it seems like your implementation is fine within the context of Nodemailer. It's only silly people like me who use the quoted-printable library for other things who encounter problems.

Nodemailer is great, by the way! Great features and documentation, works well, actively maintained. Just seems like a well-run project all around. So thank you!

If it helps then I added a new option for MailComposer, `newline` that takes either `\n` or `\r\n` and all line breaks from the output of MailComposer are converted to these newline symbols.

```
const mailOptions = {
    from: 'sender@example.com',
    to: 'recipient@example.com',
    text: 'ABCDEF\nGHI\r\nJKLMN',
    newline: '\r\n'
};
```

This is available since Nodemailer@6.6.0

Neat. I tested it out just now and it does fix the problem. Thanks!

I also noticed two semi-related problems:
- It looks like LeWindows doesn't convert `\r` to `\r\n`, which I think results in `\r` existing in the message by itself. I thought that might frowned upon by a spec... but I don't remember which spec. I think it happens for both qp and 7bit. And again I think this isn't a problem if the message is sent using your smtp transport, since, as you mentioned, the transport normalises the line breaks. It's only a problem for someone who might try to use the message independently. And even then it seems like it'll only matter if a server is being very picky.
- It looks like the `hasLongerLines()` function uses the regex multiline flag which looks like it treats `\r` as a line break and so it'll allow a message like `This is a very very very long \r line that is broken up by \r silly carriage return \r characters` to be sent using 7bit even though it's longer than 78 characters.

`\r` is normally not a valid line break (unless it's from an ancient MacOS 9 or before) and when used then unspecified behaviour might happen. Nodemailer expects `\r\n` or `\n`. I have seen also things like `\r\r\n` etc but this is far from normal (and completely invalid). `hasLongerLines` happens to treat `\r` as a line break indeed but this depends on the JS internal regex handling.

Is there a valid reason why you'd end up with `\r` as line break? If it really is a valid use case then you could consider using `textEncoding: 'base64'` as an additional message option as this would prevent messing up your line breaks.


Hi! Sorry for the long delay in replying. 

> Is there a valid reason why you'd end up with \r as line break?

Not a good reason. Mostly I was just testing with weird data, trying to craft an email that could cause problems. Our application takes emails from external senders, possibly modifies them, then inserts them into an IMAP mailbox. Since we're essentially dealing with untrusted data from an external sender it seems good for us to handle weird things like messages containing \r.

Yeah, base64 is a good option. For now we're just replacing \r and \n with \r\n before passing it to MailComposer.

Anyway, I think it would be ok to close this issue if you want. It's pretty obscure.

Or if you're worried about people using quoted printable the way I'm using it then you could maybe add a note in the documentation somewhere that strings passed to MailComposer or qp should use \r\n line endings. Or if you were _really_ worried about it you could make changes such that \r and \n get converted to \r\n, but I don't know how much work that is. Whatever, up to you! It's pretty easy for me to replace \r and \n with \r\n and I think it's a fairly complete fix, so I'm all good.