‘From’ addresses without domain part are silently accepted

Complete the following form to have your issue reviewed

### 1. Is this a bug in Nodemailer?
 
 - [x] Yes
 - [ ] No
 
> Note. Non bug issues are closed by default. Head to Stack Overflow for support questions: https://stackoverflow.com/search?q=nodemailer

### 2. Is this related to Gmail / Hotmail / Yahoo?

 - [ ] Yes
 - [x] No
 
 > Note. If you can not log in to Gmail then Gmail is blocking you. These issues are closed by default.

### 3. Is your issue related to SSL/TLS errors?

 - [ ] Yes
 - [x] No
 
 > Note. Most probably you are trying to connect to a server with a self-signed/expired cert or the server supports only ancient ciphers or you are using an antivirus that intercepts your internet connection. Such issues are closed by default.

### 4. Is your issue related to connection timeouts

 - [ ] Yes
 - [x] No

> Note. Most probably you are firewalled out from the server. Such issues are closed by default.

### 5. Do you get SyntaxError when using Nodemailer?

 - [ ] Yes
 - [x] No

> Note. You are using too old version of Node.js, please upgrade. Such issues are closed by default.


### 6. Nodemailer version you are having problems with (eg. v1.3.7)

nodemailer@4.0.1

### 7. Node.js version you are using (run `node -v` to see it, eg v5.5.0)

v8.4.0

### 8. Your operating system (eg. Windows 10, Ubuntu 14.04 etc.)

```
NAME="openSUSE Tumbleweed"
# VERSION="20170619"
ID=opensuse
ID_LIKE="suse"
VERSION_ID="20170619"
PRETTY_NAME="openSUSE Tumbleweed"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:opensuse:tumbleweed:20170619"
BUG_REPORT_URL="https://bugs.opensuse.org"
HOME_URL="https://www.opensuse.org/"
```

### 9. Nodemailer configuration settings (if applicable)

N/A

### 10. If possible, include a minimal test case that can be used to verify your issue (link to a gist would be great!)

```
var nodemailer = require('nodemailer');

var transporter = nodemailer.createTransport(accounts.mail.transport);

var mail = {
	from: "This email address has only a local-part (no at-sign)",
	subject: "Good test",
	text: "Hello!"
}

transporter.sendMail(mail (err, info) => {
	if (err) {
		console.error("Good! This didn't work");
	} else {
		console.log("Bad! This worked");
	}
});
```

### Expected behaviour

Either:
1. The envelope should contain the address as-is (hopefully to be rejected by the SMTP agent), or
2. Nodemailer should refuse to send the email on the grounds of an invalid address specification.

### Actual behaviour

The email is transmitted to the SMTP agent without a `From` header (which is technically valid, as opposed to a `From` header without an address, which would be an [RFC 5322 § 3.6.2](https://tools.ietf.org/html/rfc5322#section-3.6.2) violation).


This behavior has been as such intentionally and from the start (for the last 6 or 7 years). Nodemailer does not check for RFC compatibility, on the contrary, it accepts all kind of stuff, for example addresses separated by semicolon and such and converts that to RFC compatible output by best effort. This was a great feature back in the day.

On the other hand I can see the problem with it, too lax input validation creates a lot of problems. Making changes in the default handling is out of the question because it would break a lot of apps. What I'm thinking about would be adding some kind of a "strict mode" support where Nodemailer does validate the input and maybe even allows some extra checks. For example if definition of some kind says that only a single to address can be used then it would return an error if a comma separated address list is provided.

I've reached to the conclusion that this is feature and not a bug. Input validation should be done in an upper layer, Nodemailer tries it's best to handle whatever input is given to it.